.carousel-text {
 
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}

.testimonial-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
}

.carousel-item {
  width: 100%;
}

.carousel-item img {
  width: 100%;
}



.hero {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  height: 100vh; /* Adjust this to fit your design */
  background-size: cover;
  background-position: center;
}

.carousel-inner {
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.caption-left {
      position: absolute;
  top: -70%;
  left: -70%;
  right: -70%;
  bottom: -70;
  transform: translate(-20%, -10%);
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
  width:300px;
} 

.testimonial-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonial-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.testimonial-card p {
    font-size: 0.9rem;
    color: #555;
}

